*{
    box-sizing: border-box;
}

#main{
    width: 30%;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 3, 59);
    border: 10px solid indigo;
}
#main *{
    line-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saisi{
    width: 20%;
    margin-right: 2%;
    font-size: 25px;
    float: right;
    height: 80%;
    display: flex;
    flex-direction: column;
}
#main label{
    margin-left: 4%;
    font-size: 20px;
    color: white;
}

.passGen{
    width: 90%;
    height: 90px;
    line-height: 80px;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    align-items: flex-start;
    border: 1px solid indigo;
    background-color: indigo;
}

#main input[type="checkbox"]{
    width: 8%;
    height: auto;
}
.passGenlast{
    margin-bottom: 10px;
    color: indigo;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 5%;
    width: 90%;
    background-color: yellow; 
 }
 .passGenlast:hover{
     color: yellow;
     background-color: indigo;
 }
#copy{
    width: 100%;
    height: 2%;
    line-height: 20px;
    margin-bottom: 140%;
    position: relative;
}

#input{
    display: inline-flex;
}

.chk{
    color: red;
    visibility: hidden;
}