*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #373b69;
}
h1{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    font-size: 50px;
    color: #373b69;
    -webkit-text-stroke: 1.1px red;
    text-transform: uppercase;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    font-size: 50px;
    left: 0;
    width: 0;
    height: 100%;
    color:red;
    overflow: hidden;
    -webkit-text-stroke: 0px #373b69;
    border-right: 9px solid white;
    border-radius: 10px;
    animation: animate 15s linear infinite;
}
@keyframes animate{
    0%,30%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.overview{
    position: absolute;
    bottom: 0;
    width: 48.2vh;
    border-radius: 10px;
    font-size: 18px;
    visibility: hidden;
    background-color: #FFF;
}

#Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Div{
    width: 23%;
    height: 70vh;
    position: relative;
    display: flex;
    margin: 10px;
    flex-direction: column;
    overflow: hidden;
}
#overview{
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    height: 30%;
    visibility: hidden;
    overflow-y: scroll;
    border: 5px solid white;
    font-size: 23px;
    transform: scale(0);
    box-shadow: 0px 0px 14px rgba(0,0,0,10);
    transition: 2s ease;
 }
.over{
    visibility: visible;
}
 ::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: dimgray;
  }
#Div1{
    width: 100%;
    height: 80%;
    border-radius: 10px;

}
#Div2{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3A0077;

}

#Div2 h2{
    margin-left: 10px;
    color: #FFF;
}
#title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#vote{
    margin-right: 10px;
    font-size: 26px;
    font-weight: bold;
    background-color: rgb(17, 17, 172);
    color: #FFF;

}

#Div1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
/* .image{
    width: 980px;
    height: 70vh;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;

}
#Movies{
    width: 85%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.button{
    position: absolute;
    width: 70px;
    top: 46%;
    cursor: pointer;
    opacity: 0.4;
}
#left{
    transform: rotate(0deg);
    left: 0;
    transition: all .3s ease;
}
#right{
    transform: rotate(180deg);
    right: 0;
    transition: all .3s ease;
}
#left:hover{
    opacity: 1;
    transform: scale(1.3);
    transition: all .3s ease;
}
#right:hover{
    transform: rotate(180deg) scale(1.3);
    opacity: 1;
    transition: all .3s ease;
}
#Des{
    width: 26vh;
    height: 13vh;
    overflow: hidden;

} */